/* Global*/
body {
  font-family: Arial, sans-serif;
  color: #333;
}

a {
  color: #337ab7;
}

a:hover,
a:focus {
  color: #23527c;
}

/* Header  */
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #555;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #333;
}

.navbar-default .navbar-nav>li>a {
  color: #555;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #e7e7e7;
}